td,
th,
tr,
table {
  border-collapse: collapse;
}

td.description,
th.description {
  width: 75px;
  max-width: 75px;
}

td.quantity,
th.quantity {
  width: 40px;
  max-width: 40px;
  word-break: break-all;
}

td.price,
th.price {
  width: 40px;
  max-width: 40px;
  word-break: break-all;
}

.centered {
  text-align: center;
}

.ticket {
  width: 155px;
  max-width: 155px;
}

img {
  max-width: inherit;
  width: inherit;
}

@media print {
  .hidden-print,
  .hidden-print * {
    display: none !important;
  }
}

.logo-imagePrint {
  height: 20px;
  width: 20px;
  object-fit: contain;
}

.BillPrintFontPrint {
  font-size: 5px;
  line-height: 6px !important;
}

.ticket_table {
  width: 120px !important;
  max-width: 120px !important;
}
